

<div id="container" style="margin-left: 5%; margin-right: 5%; margin-top:15px;">
  <mat-form-field>
    <mat-label>OOTO Category</mat-label>
    <mat-select>
      <mat-option>WFH</mat-option>
      <mat-option>Holiday</mat-option>
      <mat-option>Sick Leave</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="submitEvent()" style="margin-left: 5%; margin-right: 5%">Submit event</button>
    <!-- Calendar -->
    <div>
      <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [selectable]="true" (select)="onCalendarDateChanged($event)"></full-calendar>
    </div>
  </div>